@font-face {
  font-family: "NotoSans-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Noto-Sans/NotoSans-Regular/NotoSans-Regular.eot");
  src: url("../fonts/Noto-Sans/NotoSans-Regular/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto-Sans/NotoSans-Regular/NotoSans-Regular.woff") format("woff"), url("../fonts/Noto-Sans/NotoSans-Regular/NotoSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSans-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Noto-Sans/NotoSans-Bold/NotoSans-Bold.eot");
  src: url("../fonts/Noto-Sans/NotoSans-Bold/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto-Sans/NotoSans-Bold/NotoSans-Bold.woff") format("woff"), url("../fonts/Noto-Sans/NotoSans-Bold/NotoSans-Bold.ttf") format("truetype"); }

::-webkit-input-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #DCE9F7;
  color: #fff; }

::selection {
  background-color: #DCE9F7;
  color: #fff; }

html {
  font-size: 13px;
  line-height: 20px; }

body {
  min-width: 320px;
  position: relative;
  font-family: "NatoSans-Regular", sans-serif;
  overflow-x: hidden;
  color: #313131; }
  body input, body textarea {
    border: #666 1px solid;
    outline: none; }
    body input:focus:required:invalid, body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid, body textarea:required:valid {
      border-color: green; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }
  .img-responsive.img-width {
    width: 100%; }

.text-center {
  text-align: center; }

b, strong {
  font-weight: bold; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.flex-container--row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-container--column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/* 1.1 Header */
/* 1.1.1 Header top */
.header__top {
  width: 100%;
  height: 40px;
  background-color: #313131;
  color: #C2C2C2; }
  .header__top .flex-container--row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
    width: 100%; }

.header__feedback {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.feedback__title {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 1.08rem;
  text-transform: uppercase; }

.header .feedback__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 16px; }

.feedback__link {
  padding: 0 9px; }

.feedback__whatsapp svg path, .feedback__telegram svg path, .feedback__viber:hover svg path {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.feedback__whatsapp:hover svg path {
  fill: #fff; }

.feedback__telegram:hover svg path {
  stroke: #fff; }

.feedback__viber:hover svg path {
  fill: #fff; }

.header__call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__call .call__phone {
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 1.08rem;
    text-transform: uppercase;
    color: #C2C2C2;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    text-decoration: none;
    margin-right: 18px; }
    .header__call .call__phone:hover {
      color: #fff; }

.call__callback {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 1.08rem;
  text-transform: uppercase;
  color: #C2C2C2;
  background: none;
  border: none;
  padding: 0;
  border-bottom: 2px solid;
  border-color: #C2C2C2;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer; }
  .call__callback:hover {
    color: #fff;
    border-color: #fff; }

/* 1.1.1  END Header top */
/* 1.1.2 Header bottom */
.header__bottom {
  padding: 34px 0 40px 0; }
  .header__bottom .flex-container--row {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.menu__item {
  font-size: 13px;
  padding: 0 15px;
  font-family: "NotoSans-Bold", sans-serif;
  text-transform: uppercase;
  cursor: pointer; }

.menu__link {
  display: block;
  position: relative;
  color: #313131;
  font-size: 13px;
  font-family: "NotoSans-Bold", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 6px; }
  .menu__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #313131;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .menu__link:hover::after {
    opacity: 1;
    left: 3px; }

.menu__dropdown {
  display: none; }

.user-actions__search {
  width: 24px;
  height: 22px;
  background: none;
  border: none; }

.user-actions__bag {
  width: 24px;
  height: 22px;
  background: none;
  border: none; }

/* 1.1.2 END Header bottom */
/* 1.1 END Header */
/* 1.1 Header media */
@media only screen and (max-width: 640px) {
  .feedback__title {
    display: none; }
  .header .feedback__socials {
    margin-left: 0; }
  .feedback__whatsapp {
    padding-left: 0; }
  .header, .header__top {
    height: 70px; }
  .header__top .flex-container--row {
    height: 70px; }
  .header__call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__call .call__phone {
    margin-right: 0; } }

/* 1.1 END Header media */
